<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="dragon" class="impl.quest.Dragon"/>
    <bean id="ogr" class="impl.quest.Ogr"/>
    <bean id="knight" class="impl.human.Knight"/>

</beans>